<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide></ion-menu-button>
    </ion-buttons>

    <ion-title>CogentX360</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item-divider>
    <ion-label>Login Component</ion-label>
  </ion-item-divider>

  <app-login></app-login>

  <ion-item-divider>
    <ion-label>Features</ion-label>
  </ion-item-divider>

  <ion-button type="bar-button" [routerLink]="['/todo']" color="dark" >
    Around2it
    <ion-icon slot="start" name="bonfire"></ion-icon>
  </ion-button>

  <ion-button type="bar-button" [routerLink]="['/todo']" color="dark" >
    Cloud Messaging
    <ion-icon slot="start" name="notifications"></ion-icon>
  </ion-button>

</ion-content>

